.App {
  align-items: center;
  font-weight: 200;
}

.appHeader {
  height: 90px;
}
.pageContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
  margin-top: -45px;
}
.appFooter {
  height: 120px;
  background-color: rgb(212, 212, 212);
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 30px 0 rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(3px);
}
