body {
  margin: 0;
  background-color: #F5F5F6;
}
.site-layout-content {
  padding: 24px;
}
.logo {
  color: white;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.sort {
  padding-bottom: 30px;
  text-align: left;
}
